/* ===== RESET DASAR ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #140b25;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, 
    #f79b1f,
    #df2535,
    #af1b4a,
    #1a0c58
);

  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar .logo-nav {
  position: absolute;
  left: 45px;
}

.navbar .logo-nav-img {
  width: 40px;
  height: auto;
}


.navbar ul {
    margin-left: 130px;
    list-style: none;
  display: flex;
  gap: 170px;
}

.navbar li{
    margin-right: 90px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.navbar a:hover {
  opacity: 0.8;
}

/* ===== HERO SECTION ===== */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('TI/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 100px;
}

.speaker {
  width: 150px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.speaker.left {
  left: 5%;
}

.speaker.right {
  right: 5%;
}

.center-content {
  margin-top: -60px;
  z-index: 5;
  transform: scale(1.25);
}

.top-title {
  width: 550px;
  height: auto;
  margin-bottom: -15px;
}

.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.char {
  transform: scale(1.35);   
  margin: 0 -10px;          
  width: 210px;
  height: auto;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.6));
}

.bottom-title {
  margin-top: -10px;
  width: 380px;
  height: auto;
}


/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .speaker {
    display: none;
  }

  .top-title {
  width: 400px;
  height: auto;
  }

  .bottom-title {
  width: 300px;
  height: auto;
  }

  .char {
    width: 210px;
  }

  .navbar ul {
    gap: 20px;
  }

  .navbar a {
    font-size: 14px;
}
}
